body{
    background-color: green;
}

title{
    color:green
}

h1{
    color: rgb(233, 33, 33);
    border: 4px solid greenyellow;
}
.hi{
    background-color: purple;
    float:left;
    width:30%;
}
.name{
    color:blueviolet;
    background-color: rgb(241, 102, 125);
}
.year{
    color:rgb(88, 214, 236);
    background-color: red;
}
.univerity{
    color:brown;
    background-color: chocolate;
}
#list{
    background-color: aqua;
    height: 100pt;
}

@media(max-width: 920px) {
    body{
        background: orange;
        font-size: 80%;
    }
    h1{
        width:40%;
    }
    .name{
        width:auto
    }
    .year{
        width:auto
    }
    .univerity{
        width:auto
    }
}

@media(max-width: 768px) {
    body{
        background: rgb(233, 233, 27);
        font-size: 60%;
    }
    h1{
        width:auto;
    }
}

@media(max-width: 540px) {
    body{
        background: lightgreen;
        font-size: 40%;
    }
    h1{
        width:auto;
    }
}